services:
   pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: mdashifreza111@gmail.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "8001:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin


volumes:
  pgadmin_data:      